body {
font-family:Arial, sans-serif;
margin:20px;
text-align:center;
background-color:green;
}

.container{
display:grid;
display: flex;
flex-wrap: wrap;
gap: 20px;
}

.columna {
min-width: 768px flex: 1;
max-width: 767px flex: 100%;
border: 2px solid black;
border-radius:10px;
background-color:purple;
padding:30px;
font-weight:Arial;
text-aling:center;
flex:100%;
}

@media(min-width: 768px){
.columna{ 
flex: 1;
}

@media(Max-width: 767px){
max-width: 767px flex: 100%;
}